<!-- <button (click)="mudarTexto()">Clique aqui</button> -->

<img
  [src]="imgUrl"
  alt="Imagem"
  width="100%"
  height="300px"
  style="display: block; margin: 0 auto;"
>

<h2>Aqui fazei todo este curso de angular</h2>
<h3>{{ frase }}</h3>

<h3>Diretivas de decisão *ngIf:</h3>
<h4 *ngIf="frase; else mensagemPadrao">{{ frase }}</h4>
<ng-template #mensagemPadrao>
  <p>Bora Codar com Angular no FrontEnd.</p>
</ng-template>

<h3>Diretivas de decisão *ngSwitch:</h3>

<!-- Se title for BOOLEAN (true/false), isso funciona -->
<span [ngSwitch]="title">
  <p *ngSwitchCase="true">
    Esse é um parágrafo verdadeiro, ou seja, a condição é verdadeira.
  </p>

  <p *ngSwitchCase="false">
    Esse é um parágrafo falso, ou seja, a condição é falsa.
  </p>

  <p *ngSwitchDefault>
    Esse é um parágrafo default, ou seja, a condição não é nem verdadeira e nem falsa.
  </p>
</span>

<hr>

<h3>Diretivas Estrutural *ngFor:</h3>

<app-toolbar></app-toolbar>

<hr>

<h3>Criação de componentes e adicionar a navegação</h3>
<h4>Estará sobre a tabela ....</h4>

<hr>

<router-outlet></router-outlet>