
<!-- <button (click)="mudarTexto()">Clique aqui</button> -->
  <img [src]="imgUrl" alt="Imagem" width="100%" height="300px" style="display: block; margin: 0 auto;">

<h2>Aqui fazei todo este curso de angular   </h2>
<h3>{{frase}}</h3>
 <!-- <input [(ngModel)]="frase"> -->
  <h3>Diretivas de decisão *ngf* ngSwitch:</h3>
  <h4 *ngIf="frase; else mensagemPadrao">{{frase}}</h4>
  <ng-template #mensagemPadrao><p>Bora Codar com Angular no FrontEnd .</p></ng-template>
  <h3>Diretivas de repetição *ngSwitch:</h3>
  <span [ngSwitch]="title">
  <p *ngSwitchCase="true">
  Esse é um parafo verdadeiro, ou seja, a condição é verdadeira.
  </p>
  <p *ngSwitchCase="false">
  esse é um parafo falso, ou seja, a condição é falsa.
  </p>
  <p *ngSwitchDefault>
  esse é um parafo default, ou seja, a condição não é nem verdadeira e nem falsa.
  </p>
  </span>
  <hr>
<h3>Diretivas Estrutural *ngFor:</h3>

<table class="tabela-clientes">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Profissão</th>
      <th>Salário</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cliente of clientes; let i = index">
      <td>{{ cliente.nome | uppercase }}</td>
      <td>{{ cliente.sexo | sexo }}</td>
      <td>{{ cliente.idade }}</td>
      <td>{{ cliente.profissao }}</td>
      <td>{{ cliente.salario | currency:'BRL':'symbol':'1.2-2' }}</td>
    </tr>
  </tbody>
</table>
<hr>
<h3> Pipes em Angular: </h3>
<span> {{clientes | json}}</span>
<hr>
<h3>Criação de Pipes</h3>
<h4>
  Demonstrar na prática a criação de um pipe personalizado para formatar o nome do cliente, exibindo apenas as iniciais do nome e do sobrenome. 
  Por exemplo, "Andre Luis" seria exibido como "A. L.".
</h4>
<hr>

<router-outlet />
