<h1>Bora codar com Angular_2026</h1>
<h2>{{ title }}</h2>

<button (click)="mudarTexto()">Mudar texto</button>

<hr>

<h2>Tipos de Data Binding</h2>

<p>4 tipos de Data Binding:</p>
<ol>
  <li>Interpolação → <code>{{ title }}</code></li>
  <li>Property Binding → <img [src]="imgUrl" alt="Imagem Angular" width="300"></li>
  <li>Event Binding → <code>(click)="mudarTexto()"</code></li>
  <li>Two-Way Binding → <code>[(ngModel)]="frase"</code></li>
</ol>

<input [(ngModel)]="frase" placeholder="Digite algo">
<p>Você digitou: {{ frase }}</p>

<hr>

<h2>Diretivas de decisão: *ngIf e *ngSwitch</h2>

<p>1ª diretiva: *ngIf</p>
<h4 *ngIf=" work; else mensagemPadrao">{{  work }}</h4>
<ng-template #mensagemPadrao>
  <h1>Estamos Codando em Angular </h1>
</ng-template>

<router-outlet></router-outlet>