<h1>Bora codar com Angular_2026</h1>
<h2>{{ title }}</h2>

<button (click)="mudarTexto()">Mudar texto</button>

<hr>

<h2>Tipos de Data Binding</h2>

<p>4 tipos de Data Binding:</p>
<ol>
  <li>Interpolação → <code>{{ title }}</code></li>
  <li>Property Binding → <img [src]="imgUrl" alt="Imagem Angular" width="300"></li>
  <li>Event Binding → <code>(click)="mudarTexto()"</code></li>
  <li>Two-Way Binding → <code>[(ngModel)]="frase"</code></li>
</ol>

<input [(ngModel)]="frase" placeholder="Digite algo">
<p>Você digitou: {{ frase }}</p>

<hr>

<h2>Diretivas de decisão: *ngIf e *ngSwitch</h2>

<h4>1ª diretiva: *ngIf</h4>
<h4 *ngIf=" work; else mensagemPadrao">{{  work }}</h4>
<ng-template #mensagemPadrao>
  <h3>Estamos Codando em Angular </h3>
</ng-template>
<!-- Quarta-feira,18/03/2026_De noite -->
 <h4>2ª Diretiva *ngSwicht:</h4>
<span [ngSwitch]="title">
<p *ngSwitchCase="true">
 Esse paragrafo Verdadeiro
</p>
<p *ngSwitchCase="false">
 Esse paragrafo Falso


</p>
<p *ngSwitchDefault>
 Esse paragrafo Default

</p>
</span>
<hr>
<!-- Quinta-feira,19/03/2026_De noite  -->
 <!-- Sexta-feira,20/2026_De noite "Revisão" -->
 <h2>Diretivas Estruturais:</h2>
 <h3>1ª Diretiva *ngFor:</h3>
 <app-toolbar></app-toolbar>
<h2>Tabela de Clientes</h2>

<table class="tabela-clientes">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Sexo</th>
      <th>Profissão</th>
      <th>Salário/ano</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.nome | uppercase }}</td>
      <td>{{ cliente.Idade }}</td>
      <td>{{ cliente.Sexo | sexo }}</td>
      <td>{{ cliente.Profissao }}</td>
      <td>{{ cliente.Salario | currency }}</td>
    </tr>
  </tbody>
</table>

<br>

<span>{{ clientes | json }}</span>
 
 <hr>
 <!-- Sabado_21/03/2026_De tarde -->
 <h3> Pipes em Angular</h3>
 <h2>
  Obs.: usa a tabela de cima...
 </h2>
 <hr>
  <!-- Sabado_21/03/2026_De noite -->
 <h3>Criando Pipes Customizados</h3>
 <h2>
  Obs.: usa a tabela de cima...
 </h2>
 <hr>
 <h3> Criando novo Componente e Adicionando Navegação</h3>
 <h2> Obs.: Será utilizada a "Tabela de Clientes" que esta acima...</h2>
 <hr>

<router-outlet></router-outlet>