.active {
    background-color: rgb(138, 228, 138);
    color: #fff;
}
.example-spacer{
    flex: 1 1 auto;
}
ul {
    display: flex;
    flex-direction: row;
}
a {
    padding-right: 20px;
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// sexta-feira, 13/03
.nav-caption {
    display: inline-block;
    padding-left: 5px;
}
.active{
    a{
        color: #fff;
    }
}
a:hover , a:active{
    color: lightgray;
}