.topnav {
    background-color:#3d3a3a;
    overflow:hidden;
}
.topnav a {
    float:left;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font: size 18px;
}
.topnav a:hover {
    background-color:#ddd;
    color:black;
}
.active{
    background-color: rgb(32, 186, 32);

}