marquee{
    background-color: aqua;
    font-weight: 150;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}
h1{
    font: optional;
    font-weight: 200;
    font-family: initial;
    }