/* You can add global styles to this file, and also import other style files */

.cabeca{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    padding-top: 10px 15px;
}
marquee{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-color: aliceblue;
    font-size: 30px;
}
.rodape{
font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    padding-top: 10px 15px;
}