.topnav{
    background-color: #2989a1;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}   
.active{
    background-color: #8ac98c;
    color: white;
}