.container {
  display: flex;
  flex-direction: column; /* coloca tudo em coluna */
  align-items: center;    /* centraliza horizontalmente */
  gap: 12px;              /* espaço entre os elementos */
}

.logo {
  width: 1500px;   /* DIMINUI a imagem */
  height: 600px;   /* mantém proporção */
}
