



<div class="imagem">
  <img [src]="imgUrl" alt="Imagem ilustrativa" algin-text="center" height="200" width="1900">
</div>
<button (click)="chamarFuncao()"> <a href="https://www.htmlelements.com/angular/scheduler/?gad_source=1&gad_campaignid=880622120&gclid=Cj0KCQiA7fbLBhDJARIsAOAqhsdi91KasIptGHqmeza0tgj_fESo3demFVhw9oyLaLVmKPhQwfKyviUaAjxcEALw_wcB">Chamar evento</a> </button>
<br>
<h1>{{title}}</h1>
<h2>Criado pelo {{nome}}</h2>
<h3>{{frase}}</h3>
<input type="text" [(ngModel)]="frase"><br>
 <h1 *ngIf="frase; else mensagemPadrao"> {{frase }} </h1>
 <ng-template #mensagemPadrao> bora estudar Angular </ng-template>
 
<!-- <app-toolbar></app-toolbar> -->
 <h2>Tabela</h2>
 <!-- Terça-feira,10/02/2026_de noite -->
  <table>
      <tr>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Idade</th>
        <th>Profissão</th>
        <th>Salário</th>
      </tr>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.Nome | uppercase}}</td>
        <td>{{cliente.Sexo | lowercase}}</td>
        <td>{{cliente.Idade}}</td>
        <td>{{cliente.Profissao}}</td>
        <td>{{cliente.salario | currency:'BRL'}}</td>
      </tr>
  </table>
  <br>
   <span>{{clientes | json }}</span>
  <h3>
   <u>  pipe </u>  explicar: O pipe é um recurso do Angular que permite transformar ou formatar dados diretamente no template.
     Ele é representado pelo símbolo "|". No exemplo acima, o pipe "uppercase" é usado para converter o nome
      do cliente em letras maiúsculas antes de exibi-lo na tabela. <br>
     Existem diversos pipes disponíveis no Angular, como "date" para formatar datas, "currency" para formatar valores monetários, entre outros. Além disso, 
    é possível criar pipes personalizados para atender a necessidades específicas de formatação de dados. 
  </h3>
  <br>
 


<router-outlet></router-outlet>
