<h1 *ngIf="title; else mensagemPadrao">{{ title }}</h1>
<!-- Soluções -->
<ng-template #mensagemPadrao>
  <h1>bem-vindos ao treinamento de desenvolvimento Angular</h1>
</ng-template>

<button (click)="chamarFuncao()">Chamar evento</button>
<br>
<div class="imagem">
  <img [src]="imgUrl" alt="Imagem ilustrativa" algin-text="center">
</div>

  

<br><br>
<span [ngSwitch]="title">
<p *ngSwitchCase="true">
    § Esse é um paragrafo exibido quando a condição é verdadeira.
</p>
<p *ngSwitchCase="false">
  § Esse é um paragrafo exibido quando a condição é falsa.
</p>
<p *ngSwitchDefault>
 § Esse é um paragrafo exibido quando nenhuma das condições Defaut é atendida.
</p>
</span>

<!-- <input type="text" [(ngModel)]="title"> -->

<h2>O que são componentes?</h2>

<p>
  Olá pessoal, bem-vindos a mais uma aula do nosso curso de Angular.
  <!-- texto mantido -->
</p>
<h2> Diretivas estrutural "*ngFor":</h2>
<h3>
  <table>
    <th>Nome</th>
    <th>Sexo</th>
    <th>Idade</th>
    <th>Profissão</th>
    <!-- <tr>
      <td>Andre Luis Kunert</td>
      <td>Masculino</td>
      <td>45</td>
      <td>Dev Full Stack</td>
    </tr>
     <tr>
      <td>Antonio Luis </td>
      <td>Masculino</td>
      <td>43</td>
      <td>Q.A</td>
    </tr>
     <tr>
      <td>Paulo Cesar </td>
      <td>Masculino</td>
      <td>25</td>
      <td>Suporte</td>
    </tr> -->
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.nome}}</td>
      <td>{{cliente.sexo}}</td>
      <td>{{cliente.idade}}</td>
     <td>{{cliente.profissao}}</td>
    </tr>
  </table>

</h3>


<router-outlet></router-outlet>
