<h1 *ngIf="title; else mensagemPadrao">{{ title }}</h1>
<!-- Soluções -->
<ng-template #mensagemPadrao>
  <h1>bem-vindos ao treinamento de desenvolvimento Angular</h1>
</ng-template>

<!-- <button (click)="chamarFuncao()">Chamar evento</button> -->
<br>

<img [src]="imgUrl" alt="Imagem ilustrativa" algin-text="center">
  

<br><br>
<span [ngSwitch]="title">
<p *ngSwitchCase="true">
    § Esse é um paragrafo exibido quando a condição é verdadeira.
</p>
<p *ngSwitchCase="false">
  § Esse é um paragrafo exibido quando a condição é falsa.
</p>
<p *ngSwitchDefault>
 § Esse é um paragrafo exibido quando nenhuma das condições Defaut é atendida.
</p>
</span>

<!-- <input type="text" [(ngModel)]="title"> -->

<h2>O que são componentes?</h2>

<p>
  Olá pessoal, bem-vindos a mais uma aula do nosso curso de Angular.
  <!-- texto mantido -->
</p>

<router-outlet></router-outlet>
